@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  @apply grid px-2 mt-6 gap-x-5 gap-y-10 justify-items-center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  @apply flex-shrink-0 rounded-md relative shadow-slate-700 shadow-lg transition-all duration-200 delay-100 ease-in-out hover:shadow-cyan-500 focus-visible:outline-none focus:shadow-cyan-500;
  width: 224px;
  height: 336px;
}

.card.card-small {
  width: 185px;
  height: 278px;
}

.card.card-large {
  width: 296px;
  height: 444px;
}

.card > .card-description {
  @apply absolute bottom-0 w-full rounded-b-md border-0 opacity-0 invisible h-0 px-4 flex flex-col justify-center items-center bg-cyan-500 text-slate-200 uppercase text-sm transition-all ease-in-out text-center;
}

.card > .card-adult-content-alert {
  @apply absolute bg-slate-200 rounded-full;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  padding: 3px;
}

.card > .card-adult-content-alert > .image {
  width: 100%;
  height: 100%;
  mask: url("/images/18-plus.svg");
  -webkit-mask: url("/images/18-plus.svg");
  background-color: rgb(223, 19, 19);
}

.card > .card-user-score {
  @apply absolute top-1 right-1;
  width: 50px;
}

.card > .card__image__bg {
  @apply rounded-md;
}

.btn {
  @apply rounded-md shadow-md px-3 py-2 text-base transition-all ease-in-out duration-100;
}

.btn-primary {
  @apply text-zinc-50 bg-cyan-700 hover:bg-cyan-500 hover:shadow-cyan-700;
}

.btn-small {
  @apply rounded-sm shadow-sm px-2 py-1 text-sm;
}

.btn-large {
  @apply rounded-lg shadow-lg px-5 py-3 text-xl;
}
