@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.card-container {
  @apply grid px-6 mt-7 gap-6 justify-items-center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  @apply flex-shrink-0 rounded-md relative shadow-slate-700 shadow-lg transition-all duration-200 delay-75 ease-in-out hover:shadow-cyan-500 focus-visible:outline-none focus:shadow-cyan-500 hover:scale-125 focus:scale-125 z-0 hover:z-10 focus:z-10 hover:ring-2 focus:ring-2;
  width: 224px;
  height: 336px;
}

.card.card-small {
  @apply ring-1 ring-slate-700 hover:ring-cyan-500 focus:ring-cyan-500;
  width: 185px;
  height: 278px;
}

.card.card-large {
  @apply ring-1 ring-slate-800;
  width: 296px;
  height: 444px;
}

.card > .card-description {
  @apply absolute bottom-0 w-full rounded-b-md border-0 opacity-0 invisible h-0 px-4 flex flex-col justify-center items-center bg-cyan-500 text-slate-200 uppercase text-sm transition-all ease-in-out text-center;
}

.card > .card-adult-content-alert {
  @apply absolute bg-slate-200 rounded-full;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  padding: 3px;
}

.card > .card-adult-content-alert > .image {
  width: 100%;
  height: 100%;
  mask: url("/images/18-plus.svg");
  -webkit-mask: url("/images/18-plus.svg");
  background-color: rgb(223, 19, 19);
}

.card > .card-user-score {
  @apply absolute top-1 right-1;
  width: 50px;
  height: 50px;
}

.card > .card__image__bg {
  @apply rounded-md;
}

.btn {
  @apply rounded-md shadow-md px-3 py-2 text-base transition-all ease-in-out duration-100;
}

.btn-primary {
  @apply text-zinc-50 bg-cyan-700 hover:bg-cyan-500 hover:shadow-cyan-700;
}

.btn-small {
  @apply rounded-sm shadow-sm px-2 py-1 text-sm;
}

.btn-large {
  @apply rounded-lg shadow-lg px-5 py-3 text-xl;
}

form:not(#form-search) {
  @apply flex flex-col;
}

form:not(#form-search) > div {
  @apply flex flex-col gap-1 mb-4;
}

form:not(#form-search) label {
  @apply text-slate-200;
}

form:not(#form-search) [role="alert"] {
  @apply text-red-500 text-sm;
}

form:not(#form-search) > button[type="submit"] {
  @apply max-w-xs w-32 sm:w-80 self-center px-3 py-2 rounded-md bg-cyan-700 text-slate-200 text-xl mt-4;
}

form:not(#form-search) > button[type="submit"][disabled] {
  @apply bg-slate-600 pointer-events-none;
}

form:not(#form-search) > button[type="submit"]:not(disabled):hover,
form:not(#form-search) > button[type="submit"]:not(disabled):focus {
  @apply hover:bg-cyan-600 text-white transition-all;
}

form:not(#form-search) [type="text"],
form:not(#form-search) [type="email"],
form:not(#form-search) [type="url"],
form:not(#form-search) [type="password"],
form:not(#form-search) [type="number"],
form:not(#form-search) [type="date"],
form:not(#form-search) [type="datetime-local"],
form:not(#form-search) [type="month"],
form:not(#form-search) [type="search"],
form:not(#form-search) [type="tel"],
form:not(#form-search) [type="time"],
form:not(#form-search) [type="week"],
form:not(#form-search) [multiple],
form:not(#form-search) textarea,
form:not(#form-search) select {
  @apply rounded-md;
}

form:not(#form-search) [type="text"]:focus,
form:not(#form-search) [type="email"]:focus,
form:not(#form-search) [type="url"]:focus,
form:not(#form-search) [type="password"]:focus,
form:not(#form-search) [type="number"]:focus,
form:not(#form-search) [type="date"]:focus,
form:not(#form-search) [type="datetime-local"]:focus,
form:not(#form-search) [type="month"]:focus,
form:not(#form-search) [type="search"]:focus,
form:not(#form-search) [type="tel"]:focus,
form:not(#form-search) [type="time"]:focus,
form:not(#form-search) [type="week"]:focus,
form:not(#form-search) [multiple]:focus,
form:not(#form-search) textarea:focus,
form:not(#form-search) select:focus {
  @apply ring-cyan-400 ring-2;
}

form [aria-describedby^="errors"] {
  @apply ring-red-500 ring-1;
}
