@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Customizando a cor do NProgress */
#nprogress .bar {
  background: #0891b2 !important; /* cyan-600 */
  height: 3px !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #0891b2,
    0 0 5px #0891b2 !important;
}

#nprogress .spinner-icon {
  border-top-color: #0891b2 !important;
  border-left-color: #0891b2 !important;
}
